<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acompanhar_entrega.css') }}">
    <title>Entrega</title>
</head>
<body>
    <header>
    <div class="header">
        <div class="container">
            <h1>Acompanhe a entrega</h1>
            <br>
            <p class="texto_2">Sua aguá já está a caminho e você irá ser notificado.</p>
        </div>
    </div>
    </header>
    <main>
        <div class="entrega">
            <span>Á caminho <img src="{{ url_for('static', filename='assets/Line 5.png') }}"></span> <img src="{{ url_for('static', filename='assets/confere.png') }}">
            <span>Entregue <img src="{{ url_for('static', filename='assets/Line 5.png') }}"></span> <img src="{{ url_for('static', filename='assets/confere.png') }}">
        </div>
    </main>
    <footer>
        <div>
            <button class="botao" type="button">Algum problema na entrega?</button>
        </div>
    </footer>
</body>
</html>