<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Formulário de Entrega</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/detalhe-entrega.css') }}" />

</head>
<body>
  <section class="section">
    <div class="form-box">
      <h2> Detalhes de Entrega</h2>
      <form>
        <div class="input-row">
          <input type="text" placeholder="Bairro" required />
          <input type="text" placeholder="Rua" required />
        </div>
        <div class="input-row">
          <input type="text" placeholder="Cidade" required />
          <input type="text" placeholder="Estado" required />
        </div>
        <div class="input-row">
          <input type="text" placeholder="Número" required />
          <input type="text" placeholder="Complemento (opcional)" />
        </div>
        <button type="submit"><i class="botao"></i> Enviar Solicitação</button>
      </form>
    </div>
    <div class="image-box">
      <img src="{{ url_for('static', filename='assets/image.png') }}" alt="Imagem" />
    </div>
  </section>
</body>
</html>