<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <form class="form-box" method="POST">
      <h1>Login</h1>

      <label for="cpf">CPF</label>
      <input type="text" id="cpf" name="cpf" placeholder="Digite seu CPF" />

      <div class="senha-label">
        <label for="senha">Senha</label>
        <a href="#" class="esqueceu">Esqueceu?</a>
      </div>

      <div class="senha-box">
        <input type="password" id="senha" name="senha" placeholder="Digite sua senha" />
        <i class="senha"></i>
      </div>

      <button type="submit" class="btn-login">Login</button>

      <p class="cadastro-link">
        Não tem uma conta? <a href="{{ url_for('pagina_cadastro') }}">Cadastre-se</a>
      </p>
    </form>
  </div>
</body>
</html>